<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantAlarm"
        tools:targetApi="31">
        <activity
            android:name=".plant_main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="plant_die"
            android:label="plant_die">
        </activity>
        <activity
            android:name="plant_album"
            android:label="plant_album">
        </activity>
        <activity
            android:name="plant_single_memory"
            android:label="plant_single_memory">
        </activity>
        <activity
            android:name="plant_select"
            android:label="plant_select">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
        </activity>
        <activity
            android:name=".AlarmActivity"
            android:label="AlarmActivity">
        </activity>
        <activity
            android:name=".AlarmSetActivity"
            android:label="AlarmSetActivity">
        </activity>

<!--        알람 리시버 브로드 브로드캐스트리시버 등록-->
        <receiver android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>